


.heading {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  position: relative;
  align-self: center;
  text-align: center;
  color: rgb(0, 0, 0);
  background-image: url(assets/Bread6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}



#header {
  background: #664c8f;
  height: auto;
  width: max-content;
  padding: 100px 100px
 
}


.container {
 display:flex;
  /* text-align: center; */
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: #f4f4f4;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
}

.left-sidebar {
  order: 1;
  left: 0;
}

.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  order: 2;
  align-self: center;
}

.right-sidebar {
  width: 200px;
  right: 0;
  background-color: #f4f4f4;
  padding: 15px;
  box-sizing: border-box;
  order: 3;
}

.sidebar a {
  display: block;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
}

.sidebar a:hover {
  background-color: #ddd;
}


